.action__title {
	text-align: center;
	font-size: 33px;
	margin: 20px 0 50px 0;
}

.action__bg {
	display: flex;
	justify-content: center;
}

.action__bor {
	display: flex;
	justify-content: center;
	border: 1px #000 solid;
	margin-top: 20xp;
}


.action__input {
	margin: 20px 20px 20px 3px;
}

.action__button {
	padding: 0 5px 5px 3px;
}