body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #000;
	-webkit-font-smoothing: antialiased; /*сглаживание шрафтов*/

	background-color: #fff;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}


