<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Книги</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/container.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}">
</head>
<body>

	<header>
		<div class="header__container">

			<h1 class="header__title"><a th:href="@{/api/v1}" class="header__link">Library</a></h1>
			<div class="header__user">
				<a th:href="@{/api/v2}" class="header__link">
					<img th:src="@{/img/user_icon_white.png}" class="header__icon">
				</a>
			</div>

		</div>
	</header>

	<img th:src="@{/img/books.png}" class="header__img">

	<div class="container">
		<div class="menu">
			<div class="menu__bg">
				<div class="menu__left">
					<div class="menu__center">
						<p class="menu__title">Список книг</p>
					</div>
					<div class="menu__user">
						<div class="menu__booklist">
							<div class="menu__bookbr"><a href="" class="menu__booklink">Жава гайд id:0</a></div>
							<div class="menu__bookbr"><a href="" class="menu__booklink">ХТМЛ гайд id:1</a></div>
						</div>
					</div>
				</div>

				<div class="menu__right">
					<form id="bookForm" class="menu__form">
						<input type="text" id="bookName" name="bookName" placeholder="Введите название книги" required>
						<button type="submit">Найти</button>
					</form>
					<a th:href="@{/api/v1/addBook}" class="menu__link">Добавить книгу</a>
					<a th:href="@{/api/v1/updateBook}" class="menu__link">Изменить книгу</a>
					<a th:href="@{/api/v1/deleteBook}" class="menu__link">Удалить книгу</a>
				</div>
			</div>
		</div>
	</div>


<script src="/js/search.js"></script>
</body>
</html>