<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Регистрация</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/container.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/action.css}">
</head>
<body>

	<header>
		<div class="header__container">

			<h1 class="header__title"><a th:href="@{/api/v1}" class="header__link">Library</a></h1>
			<div class="header__user">
				<a th:href="@{/api/v2}" class="header__link">
					<img th:src="@{/img/user_icon.png}" class="header__icon">
				</a>
			</div>

		</div>
	</header>

	<div class="container">
		<p class="action__title">Удалить книгу</p>
		<div class="action__bg">
			<div class="action__bor">
				<p>форма</p>
			</div>
		</div>
	</div>

</body>
</html>