<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Удалить книгу</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/container.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/action.css}">
</head>
<body>

	<header>
		<div class="header__container">

			<h1 class="header__title"><a th:href="@{/api/v1}" class="header__link">Library</a></h1>
			<div class="header__user">
				<a th:href="@{/api/v2}" class="header__link">
					<img th:src="@{/img/user_icon_white.png}" class="header__icon">
				</a>
			</div>

		</div>
	</header>

	<div class="container">
		<p class="action__title">Удалить книгу</p>
		<div class="action__bg">
			<div class="action__bor">
				<form id="deleteId">
					<div class="action__input">
						<input type="text" id="name" name="name" placeholder="Enter Book Name" required>
					</div>
					<div class="action__button">
						<button type="submit">Delete Book</button>
					</div>
				</form>
			</div>
		</div>
	</div>

<script src="/js/deleteObj.js"></script>
</body>
</html>