<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Пользователь</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/container.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}">
</head>
<body>

	<header>
		<div class="header__container">

			<h1 class="header__title"><a th:href="@{/api/v1}" class="header__link">Library</a></h1>
			<div class="header__user">
				<a th:href="@{/api/v2}" class="header__link">
					<img th:src="@{/img/user_icon.png}" class="header__icon">
				</a>
			</div>

		</div>
	</header>

	<div class="container">
		<div class="menu">
			<div class="menu__center">
				<p class="menu__title">Пользователь</p>
			</div>
			<div class="menu__bg">
				<div class="menu__left">
					<div class="menu__user">
						<p>Луарович Хупад Апексович id:0</p>
						<form id="userForm">
							<input type="text" id="surName" name="userName" placeholder="Enter Surname" required>
							<button type="submit">Find User</button>
						</form>
					</div>
				</div>

				<div class="menu__right">
					<a th:href="@{/api/v2/register}" class="menu__link">Создать пользователя</a>
					<a th:href="@{/api/v2/updateUser}" class="menu__link">Изменить пользователя</a>
					<a th:href="@{/api/v2/deleteUser}" class="menu__link">Удалить пользователя</a>
				</div>
			</div>
		</div>
	</div>


<script src="/js/search.js"></script>
</body>
</html>